<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an undergraduate student at the
      <a class="underline-link" href="https://www.uw.edu/" target="_blank">University of Washington</a> obtaining my Bachelor of Science degree in
      <a class="underline-link" href="http://hcde.uw.edu/" target="_blank">Human Centered Design and Engineering</a> and a minor in
      <a class="underline-link" href="https://ischool.uw.edu/" target="_blank">Informatics</a>.
    </p>

    <p>
      I am a UX Designer and Product Designer, but I am as well an archeologist, ecologist, psychologist, and epistemologist. Through leveraging the 
      potentials of human-computer interaction, I bridge the gap between people and technology and extend the technology experiences into people’s 
      everyday life. 
    </p>

    <p>
      <strong>When I'm not brain dumping creative thoughts on paper or computer screens</strong>, I'm probably playing my cello, going outdoor for walks,
      travelling, hitting tennis with friends, or watching comedies.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
