<section class="section featured-projects">
    <div class="section__title">Featured Projects</div>
    <div class="section__content">
      <div class="project blistabloc">
        <figure class="project__pic">
          <a href="https://www.employher.com/" target="_blank">
            <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt="">
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="https://www.employher.com/" target="_blank">employHER Inc.</a>
          </div>
          <p>Created MVP for a web talent management and recruitment platform providing a suite of services for B2B and B2C needs.</p>
        </figcaption>
      </div>
  
      <div class="project screentime">
        <figure class="project__pic phones">
          <a href="https://yilinzeng.weebly.com/piu.html" target="_blank">
            <div class="phone">
              <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
            </div>
            <div class="phone">
              <img src="{{site.baseurl}}/img/featured/screentime/screentime3.png" alt="">
            </div>
            <div class="phone">
              <img src="{{site.baseurl}}/img/featured/screentime/screentime4.png" alt="">
            </div>
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="https://yilinzeng.weebly.com/piu.html" target="_blank">Rapoo Technology Co. Ltd.</a>
          </div>
          <p>Transformed main web features, including customer services, online stores, and social threads, into a mobile virtual community serving a global audience base. </p>
        </figcaption>
      </div>
  
      <div class="project interventions">
        <figure class="project__pic">
          <a href="https://yilinee.github.io" target="_blank">
            <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="https://yilinee.github.io/" target="_blank">Real Change Newspaper</a>
          </div>
          <p>Created a cohesive visual system and brand refresh through qualitative research and visual exploration and communication processes.</p>
        </figcaption>
      </div>
    </div>
  </section>