<header class="intro">
  <h1 class="intro__hello">Hello! 
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Catherine Zeng</span>, UX designer &amp; Product Designer focused on delivering mindful experiences, products, and services to engage, motivate, and empower users.
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:yilinz213@gmail.com" target="_blank" class="highlight-link">yilinz213@gmail.com</a>
    </span>
  </h3>
</header>


<!-- header.html -->
<!-- {% if site.style == 'dark' %}
  {% assign icon_color = "#ffffff" %}
{% else %}
  {% assign icon_color = "#24292e" %}
{% endif %}

{% assign content = page.content %}

{% assign posts_total = site.posts | size %}

{% assign user = site.github.owner %}

{% if page.path contains '_posts' %}
  {% assign page_title = page.title %}
  {% assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% else %}
  {% assign page_title = user.name %}
  {% assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% endif %}

<!doctype html>
<html class="min-height-full">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ meta_description }}" />
    <meta property="og:title" content="{{ user.name }}" />
    <meta property="og:image" content="{{ user.avatar_url }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ "/assets/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
  </head>
  <body class="bg-white min-height-full" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}> -->

<!-- interests.html -->
<!-- <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Interests</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Topics that I want to learn more about.</p>
<div class="d-flex flex-wrap gutter-condensed mb-4">
  {% for topic in site.topics %}
    <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include topic-card.html %}
    </div>
  {% endfor %}
</div> -->

<!-- masthead.html -->
<!-- {% if site.layout == 'stacked' %}
  {% assign metadata_styles = 'd-md-inline-block mx-3 mb-1 mb-md-0' %}
{% else %}
  {% assign metadata_styles = 'd-flex flex-items-center mb-3' %}
{% endif %}

<img src="{{ user.avatar_url }}" class="circle mb-3" style="max-width: 150px;">
<h1 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed">{% if user.name %}{{ user.name }}{% else %}{{ user.login }}{% endif %}</h1>
<p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  {{ user.bio }}
</p>

{% if include.metadata %}
  <div class="f4 mb-6">
    {% if user.name %}
      <div class="{{ metadata_styles }}">
        {% octicon mark-github height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:GitHub %}
        <a href="https://github.com/{{ user.login }}" {% if site.style == 'dark' %}class="text-white"{% endif %}>
          @{{ user.login }}
        </a>
      </div>
    {% endif %}
    {% if user.email %}
      <div class="{{ metadata_styles }}">
        {% octicon mail height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:email %}
        <a href="mailto:{{ user.email }}" {% if site.style == 'dark' %}class="text-white"{% endif %}>
          {{ user.email }}
        </a>
      </div>
    {% endif %}
    {% if user.location %}
      <div class="{{ metadata_styles }} {% if site.style == 'dark' %}text-white{% endif %}">
        {% octicon location height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Location %}
        {{ user.location }}
      </div>
    {% endif %}
    {% if site.social_media %}
      <div class="d-flex flex-wrap flex-items-start {% if site.layout == 'stacked' %}flex-justify-center mt-1 mt-md-3{% endif %}">
        {% for account in site.social_media %}
          <div class="{% unless forloop.last == true %}mr-3{% endunless %} mb-3">
            {% assign service_shortname = account[0] %}
            {% assign service = site.data.social_media[service_shortname] %}
            <a href="{{ service.profile_url_prefix }}{{ account[1] }}" class="tooltipped tooltipped-se" aria-label="{{ service.name }}: {{ account[1] }}">
              {{ service.icon_svg }}<span class="d-none">{{ service.name }}</span>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if user.hireable %}
      <span title="Hire me" class="d-inline-block f5 rounded-2 text-white bg-green py-1 px-2">Available for hire</span>
    {% endif %}
  </div>
{% endif %} -->

<!-- post-card.html -->
<!-- <div class="height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
  <div class="d-flex flex-justify-between flex-items-start mb-1">
    <h1 class="f4 lh-condensed mb-1">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
  </div>
  <div class="text-gray mb-2 ws-normal">{{ post.date | date: "%b %d, %Y"}}</div>
</div> -->

<!-- projects.html -->
<!-- <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Projects</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">GitHub repositories that I've built.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% if site.projects.sort_by == 'stars' %}
    {% assign sort_order = 'stargazers_count', 'last' %}
  {% else %}
    {% assign sort_order = 'pushed_at' %}
  {% endif %}

  {% if site.projects.exclude.archived && site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | where:'fork', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.archived %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: sort_order | reverse %}
  {% else %}
    {% assign filtered_repos = site.github.public_repositories | sort: sort_order | reverse %}
  {% endif %}

  {% for repository in filtered_repos | limit: site.projects.limit %}
    {% unless site.projects.exclude.projects contains repository.name %}
      <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        {% include repo-card.html %}
      </div>
    {% endunless %}
  {% endfor %}
</div> -->

<!-- repo-card.html -->
<!-- <div class="github-component d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
  <div>
    <div class="d-flex flex-justify-between flex-items-start mb-1">
      <h1 class="f4 lh-condensed mb-1">
        <a href="{{ repository.html_url }}">
          {% octicon repo height:20 class:"mr-1 v-align-middle" fill:"#586069" aria-label:repo %}
          {{ repository.name }}
        </a>
      </h1>
    </div>
    <div class="text-gray mb-2 ws-normal">{{ repository.description }}</div>
  </div>
  <div class="d-flex f6">
    {% if repository.language %}
        <span class="repo-language-color ml-0 mr-1" style="background-color:{{ site.data.colors[repository.language]["color"] }}"></span>
        <span class="mr-3" itemprop="programmingLanguage">{{ repository.language }}</span>
    {% endif %}
    {% if repository.stargazers_count %}
      <a href="{{ repository.html_url }}/stargazers" class="d-inline-block link-gray mr-4">
        <svg class="octicon octicon-star mr-1" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path></svg>{{ repository.stargazers_count }}
      </a>
    {% endif %}
    {% if repository.forks_count %}
      <a href="{{ repository.html_url }}/network/members" class="d-inline-block link-gray mr-4">
        <svg class="octicon octicon-git-branch mr-1" viewBox="0 0 10 16" version="1.1" width="10" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M10 5c0-1.11-.89-2-2-2a1.993 1.993 0 0 0-1 3.72v.3c-.02.52-.23.98-.63 1.38-.4.4-.86.61-1.38.63-.83.02-1.48.16-2 .45V4.72a1.993 1.993 0 0 0-1-3.72C.88 1 0 1.89 0 3a2 2 0 0 0 1 1.72v6.56c-.59.35-1 .99-1 1.72 0 1.11.89 2 2 2 1.11 0 2-.89 2-2 0-.53-.2-1-.53-1.36.09-.06.48-.41.59-.47.25-.11.56-.17.94-.17 1.05-.05 1.95-.45 2.75-1.25S8.95 7.77 9 6.73h-.02C9.59 6.37 10 5.73 10 5zM2 1.8c.66 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2C1.35 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2zm0 12.41c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm6-8c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path></svg>{{ repository.forks_count }}
      </a>
    {% endif %}
  </div>
</div> -->

<!-- thoughts.html -->
<!-- <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Thoughts</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Articles I've written.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% for post in site.posts limit: 6 %}
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include post-card.html %}
    </div>
  {% endfor %}
</div> -->

<!-- topic-card.html -->
<!-- {% if topic.web_url %}
  <a href="{{ topic.web_url }}" class="github-component position-relative hover-grow height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5">
    {% if topic.image_url %}
      <img src="{{ topic.image_url }}" width="64" height="64" class="mx-auto rounded-1 mb-3" alt="{{ topic.name }}">
    {% else %}
      <div
        class="bg-blue-light f4 text-gray-light text-bold rounded-1 flex-shrink-0 text-center mx-auto mb-3"
        style="width:64px; height:64px; line-height:64px;"
      >
        #
      </div>
    {% endif %}
    <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1">{{ topic.name }}</p>
    {% if topic.description %}
      <p class="f5 text-gray text-center mb-0 mt-1">{{ topic.description }}</p>
    {% endif %}
  </a>
{% else %}
  <div class="github-component position-relative height-full text-center border border-gray-light rounded-1 bg-white p-5">
    {% if topic.image_url %}
      <img src="{{ topic.image_url }}" width="64" height="64" class="mx-auto rounded-1 mb-3" alt="{{ topic.name }}">
    {% else %}
      <div
        class="bg-blue-light f4 text-gray-light text-bold rounded-1 flex-shrink-0 text-center mx-auto mb-3"
        style="width:64px; height:64px; line-height:64px;"
      >
        #
      </div>
    {% endif %}
    <p class="f3 lh-condensed text-center mb-0 mt-1">{{ topic.name }}</p>
    {% if topic.description %}
      <p class="f5 text-gray text-center mb-0 mt-1">{{ topic.description }}</p>
    {% endif %}
  </div>
{% endif %} -->
