h1{
    color: rebeccapurple;
}
body{
	font-family:Helvetica,Arial,sans-serif;
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
.column {
  float: left;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}